<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <servlet>
        <servlet-name>Dinner</servlet-name>
        <jsp-file>/Dinner.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Dinner</servlet-name>
        <url-pattern>/dinners</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Refreshments</servlet-name>
        <jsp-file>/Refreshments.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Refreshments</servlet-name>
        <url-pattern>/ref</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Desserts</servlet-name>
        <jsp-file>/Desserts.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Desserts</servlet-name>
        <url-pattern>/des</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FormDatabase</servlet-name>
        <jsp-file>/FormDatabase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FormDatabase</servlet-name>
        <url-pattern>/formdb</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FetchDetail</servlet-name>
        <jsp-file>/FetchDetail.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>FetchDetail</servlet-name>
        <url-pattern>/fd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Update</servlet-name>
        <jsp-file>/Update.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/upd</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <jsp-file>/Delete.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/del</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sample</servlet-name>
        <jsp-file>/sample.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sample</servlet-name>
        <url-pattern>/sp</url-pattern>
    </servlet-mapping>
</web-app>